:root {}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  max-width: 1176px;
}

[class^="col-"] {
  padding: 1rem;
}

.container {
  max-width: 1176px;
  width: 80%;
  margin: auto;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;

  & .col-3 {
    width: calc(100% / 12 * 3);

    & .card {
      max-width: 100%;
      background-color: rgb(213, 147, 24);

      & .cont-img {
        & img {
          max-width: 100%;
        }
      }

      &>h1 {
        font-size: 3.2em;
        line-height: 1.1;
      }

      &>span {
        color: #242424;
        font-size: large;
      }
    }
  }
}