:root {
  --primary-orange: #d59318;
  --white-white: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  max-width: 1176px;
}

#app {
  background-color: var(--primary-orange);
  font-family: Arial;
}

[class^="col-"] {
  padding: 0.5rem;
}

.container {
  max-width: 1176px;
  width: 80%;
  margin: auto;
  background-color: var(--white-white);
  padding: 1.25rem;
}

.col-3 {
  width: calc(100% / 12 * 3);
}